{% extends 'home/home.base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block pre_container %}
    <section class="sliderSection text-white">
        <div class="slider"></div>
    </section>
{% endblock %}

{% block content %}

        {% for post in posts %}

                <div class="card" style="margin-bottom: 2rem;">
                    <div class="card-body">
                        <h5 class="text-center card-title"><a href="{{ path('view_post', {'id' : post.id}) }}">{{ post.title }}</a></h5>
                        <h6 class="text-center card-subtitle mb-3 text-muted">Posté le {{ post.date | date('d/m/Y') }}</h6>
                        <p class="card-text">{{ (post.content|length > 50 ? post.content|slice(0, 50) ~ ' ...' : post.content) | raw }}</p>
                    </div>
                </div>
        {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="/slider.js"></script>
    <script src="/main.js"></script>
{% endblock %}
