@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');

.page-title
{
    font-family: 'Farro', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.5em;
}

#new_event
{
    margin-bottom: 1em;
}

.stb
{
    margin: 1em;
    padding-left: 1em;
}

