{% extends "admin/admin.base.html.twig" %}
{% block body %}
    <h2 class="text-center page-title">Nouvelle Slide</h2>
    

    {{ form_start(form) }}
    <button class="btn btn-success" type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}